.popup {
  padding: 20px;
  position: absolute;
  display: none;
  opacity: 0;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.75);
  transition: all .25s linear;
}

.popup_active {
  opacity: 1;
  display: flex;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  background: white;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 400px;
}

.button__close {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -30%;
  right: -10%;
  color: white;
  font-size: 1.25rem;
  transition: all .15s ease-in-out;
}

.button__close:hover {
  color: grey;
}

.text {
  font: 500 16px/22px 'Roboto', 'Arial', sans-serif;
  margin: 0 0 22px 0;
}

.text__name {
  font: 700 16px/22px 'Roboto', 'Arial', sans-serif;
}

.button__wrapper {
  display: flex;
  gap: 30px;
  place-content: center;
}

.button {
  background: black;
  border: none;
  border-radius: 6px;
  font: 500 16px/22px 'Roboto', 'Arial', sans-serif;
  color: white;
  padding: 6px 12px;
  transition: all .05s ease-in;
  height: 46px;
}

.button:hover{
  background-color: grey;
}


@media screen and (max-width: 767px){
  .container {
    padding: 20px;
  }
  .button__close {
    top: -20%;
    right: 0;
    font-size: 1rem;
  }
  .text {
    font: 350 16px/20px 'Roboto', 'Arial', sans-serif;
    margin: 0 0 30px 0;
    text-align: center;
  }

  .text__name {
    font: 600 16px/20px 'Roboto', 'Arial', sans-serif;
  }

  .button__wrapper {
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    margin: 0 auto;
  }

  .button {
    font: 350 16px/20px 'Roboto', 'Arial', sans-serif;
    height: 40px;
  }
}
